<link rel="styleshet" href="/style.css">

<h1>{{ question.question_text }}</h1>
<h2>Odpowiedzi</h2>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} ({{ choice.votes }} głosy)</li>
{% endfor %}
</ul>
{% if question.answer_set.all %}
    <h2>Odpowiedzi tekstowe</h2>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.answer }}</li>
    {% endfor %}
    </ul>
{% endif %}