<!DOCTYPE html>
<html>

<body>
<table class="tabela">
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Data</th>
        <th>Otwarte</th>
    </tr>
    {% for question in questions %}
        <tr>
        <td>
            <a href="{{ question.id }}">{{ question.pk }}</a>
        </td>
        <td>
            {{ question.question_text }}
        </td>
        <td>
            {{ question.pub_date }}
        </td>
        <td>
            {% if question.is_open_question %}
                Tak
            {% else %}
                Nie
            {% endif %}
        </td>
        </tr>

   {% endfor %}
</table>
</body>
</html>